/* global.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: purple; 
    background-image: url('/public/images/womendrinklaugh.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed;
}

.global-container {
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
        background-image: url('/public/images/womendrinklaugh.jpg');
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative; 
    min-height: 1500px;
}

/* This ensures that the content is centered */
.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
