.header {
  background-color: #ff4081;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%; /* Ensure full width */
  /* ... other header styles ... */
}
.sparker-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  width: 200px;

}
/* Style for the logo link */
.header .logo-link {
  text-decoration: none; /* Removes underline */
  color: white; /* Sets the text color to white */
  text-decoration: none; /* Removes underline */
  color: white; /* Sets the text color to white */
  display: flex; /* Needed to apply flexbox styles */
  justify-content: center; /* Center the content inside the link */
  align-items: center; /* Center the content vertically */
}

/* Style for the logo image */
.header-logo {
  width: 90px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
}

.header-buttons {
  display: flex;
  /* Add any other styling for the button container */
}

.header-button {
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: white; /* Adjust as needed */
  background-color: #009688; /* Adjust as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block; /* Or 'inline-flex' if you prefer */
  /* Set a maximum width if needed */
  max-width: 15px; /* Example value, adjust as needed */

}

.header-button:hover {
  background-color: #007f6b; /* Adjust hover color as needed */
}
.dropdown-button {
  padding: 10px 15px; /* Adjust padding as needed */
  margin: 5px 0; /* Adjust margin as needed */
  text-decoration: none;
  color: white; /* Adjust text color as needed */
  background-color: #009688; /* Adjust background color as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto; /* This ensures the button width is based on its content */
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.dropdown-button:hover {
  background-color: #007f6b; /* Adjust hover color as needed */
}

.logged-in-info {
  margin-right: 20px; /* Space between the logged-in text and dropdown */
  font-size: 12px; /* Adjust font size as needed */
  color: #ffffff; /* Adjust text color as needed */
}