.header {
  background-color: #ff4081;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%; 
}
.sparker-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  width: 200px;

}

.header .logo-link {
  text-decoration: none;
  color: white;
  text-decoration: none;
  color: white; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.header-logo {
  width: 90px;
  height: auto;
}

.header-buttons {
  display: flex;
}

.header-button {
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: white;
  background-color: #009688; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block; 
  max-width: 15px; 

}

.header-button:hover {
  background-color: #007f6b; 
}
.dropdown-button {
  padding: 10px 15px;
  margin: 1px; 
  text-decoration: none;
  color: white; 
  background-color: #009688;
  border-radius: 5px;
  width: auto;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.dropdown-button:hover {
  background-color: #31a695;
  transform: translateY(-1px);
}

.logged-in-info {
  margin-right: 20px;
  font-size: 12px;
  color: #ffffff;
}