.homepage-container {
position: fixed;
}
  
.homepage-title {
  position: fixed;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px; 
  border-radius: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
}