.match-page-container { /* Added match-page-container */
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative; 
    background-color: white;
}

.match-page-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: x-large;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

.match-card-container {
    margin: auto;
    padding: 20px;
    min-width: 900px;
    max-width: 900px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.match-header {
    text-align: center;
    margin-bottom: 20px;
}

.match-header h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.match-bio {
    font-size: 1.2em;
    color: #666;
}

.match-images-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0;
}

.match-image-thumbnail img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.match-image-thumbnail img:hover {
    transform: scale(1.05);
}

.match-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.action-button {
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
}
.action-button:hover {
    transform: translateY(-3px);
}

.hours-left {
    text-align: center;
    font-size: 1.1em;
    margin-top: 20px;
    color: #ff6347;
}
