/* MatchesPage.css */

.matches-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.matches-list-container {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.matches-page-title {
    text-align: center;
    font-size: 28px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
}

.matches-page-title h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.matches-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.match-list-item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.match-list-item:hover {
    background-color: #ececec;
    transform: translateY(-3px);
}

.match-item-details {
    display: flex;
    align-items: center;
}

.match-item-image-container {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.match-item-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.match-item-info {
    display: flex;
    flex-direction: column;
}

.match-item-name {
    font-size: 18px;
    margin: 0;
    color: #333;
    display: flex;
    align-items: center;
}

.ghost-icon {
    width: 40px; 
    height: 40px;  
    margin-left: auto;
}
.match-item-date {
    margin: 5px 0 0;
    font-size: 14px;
    color: #777;
}

.loading-message-container, .no-matches-message-container {
    text-align: center;
    color: #555;
    font-size: 18px;
    padding: 50px;
}
