.profile-menu-container {
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative; 
    background-color: white;
}


.profile-page-title {
    flex: content;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: x-large;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

.profile-links {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 14%;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative; 
}

.link-to-userinfo, .link-to-customization, .link-to-preferences {
    padding: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.link-to-userinfo:hover, .link-to-customization:hover, .link-to-preferences:hover {
    transform: translateY(-1px);
}

button:hover {
    background-color: #ececec;
    transform: translateY(-2px);
}
