.profile-menu-container {
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto; 
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative; 
    background-color: white;
}

.profile-buttons {
    margin-right: 10px;
    text-decoration: none;
}


.profile-page-title {
    flex: content;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: x-large;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

.profile-links {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}