.profile-buttons {
    margin-right: 10px;
    text-decoration: none;
}


.page-title {
    flex: content;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: x-large;
    font-family:'Courier New', Courier, monospace;
}