/* RegisterPage.css */

/* Assuming the parent is the body */

.form-container {
  padding: 20px;
  width: 100%; /* Full width */
}

.register-container {
  text-align: center;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
}
  
.register-container h1 {
  color: #4a4e69;
}
  
.register-container form {
  display: flex;
  flex-direction: column;
}
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button {
    background-color: #4a4e69;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #6b6e90;
  }

  .error-message {
    color: red;
    font-weight: bold;
  }
  
  .user-registration-title {
    color: black;
    font-size: x-large;
  }

  .next-step-button {
    color: black;
  }

  .finish-registration-button {
    color: black;
  }