.swiping-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-card {
    background-color: white;
    width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.swipe-images-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.swipe-image-thumbnail {
    margin: 5px;
}

.swipe-image-thumbnail img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.profile-name {
    margin-top: 10px;
    color: #333;
    font-weight: 500;
    font-size: larger;
}

.profile-gender {
    font-size: 16px;
    margin-top: 5px;
}

.profile-bio {
    color: #666;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    background-color: rgb(231, 228, 228);
    padding: 10px;
    border-radius: 8px;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.pass-button, .like-button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.pass-button {
    background-color: #ff6b6b;
}

.like-button {
    background-color: #4caf50;
}

.status-box {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    width: 400px;
    color: #333;
    font-size: 18px;
}

.preferences-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.preferences-button:hover {
    background-color: #0056b3;
}