.swipes-container {
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative; 
    background-color: rgb(0, 255, 251); 
}

.swipe-list {
    list-style: none;
    padding: 0;
}

.swipe-item {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
}

.swipe-liked {
    background-color: #53b756;
}

.swipe-passed {
    background-color: #eb6565;
}

.swipe-item:hover {
    background-color: #f0f0f0;
}

.swipe-image {
    width: 100px;
    height: 100px;
    object-fit: cover; 
    border-radius: 8px;
}

.swipeuser-images {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
}

.swipeuser-title {
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
