.swiping-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.profile-card {
    background-color: white;
    width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.profile-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.profile-name {
    margin-top: 10px;
    color: #333;
    font-weight: 500;
    font-size: larger;
}

.profile-gender {
    font-size: 16px;
    margin-top: 5px;
}

.profile-bio {
    color: #666;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    background-color: rgb(231, 228, 228);
}


.action-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.pass-button, .like-button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.pass-button {
    background-color: #ff6b6b;
}

.like-button {
    background-color: #4caf50;
}
