.swipes-container {
    padding: 20px;
    width: 80%;
    max-width: 1100px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative; 
    background-color: white; 
    margin: 0 auto;
}

.swipe-history-page-title {
    text-align: center;
    font-size: x-large;
    color: #333;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
}

.swipe-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swipe-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-size: 0.9rem;
}

.swipe-liked {
    background-color: #53b756;
}

.swipe-passed {
    background-color: #eb6565;
}

.swipe-liked:hover {
    background-color: #55c259;
    transform: translateY(-3px);
}

.swipe-passed:hover {
    background-color: #ed7171;
    transform: translateY(-3px);
}

.swipeuser-images {
    order: 2;
    width: 70px;
    height: 70px;
    margin-left: 10px;
    border-radius: 50%;
}

.swipe-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
}

.swipeuser-title {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    flex: 1;
    margin-right: 10px;
}

.swipe-item > div {
    flex: 1;
    padding: 5px;
}

